.reg-wrapper {
  display: inline-block;
  margin-left: 20px;
  padding: 15px;
  border: 2px solid #e0be03;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
}
.reg-title {
  margin: 25px;
  font: bold 18pt Arial;
}
.reg-form >span {
  display: block;
  margin: 20px 0 0;
}
.reg-form label {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
}
.reg-form input {
  height: 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 25px;
  background-image: -webkit-linear-gradient(270deg, #fff 0%, #fef1ab 100%);
  background-image: -moz-linear-gradient(270deg, #fff 0%, #fef1ab 100%);
  background-image: -o-linear-gradient(270deg, #fff 0%, #fef1ab 100%);
  background-image: -ms-linear-gradient(270deg, #fff 0%, #fef1ab 100%);
  background-image: linear-gradient(180deg, #fff 0%, #fef1ab 100%);
  margin-left: 15px;
}
.reg-form input:focus {
  background-image: none;
}
.reg-label-wrapper {
  display: inline-block;
}
.reg-facebook-button,
.reg-twitter-button {
  margin: 0 10px 10px 0;
  color: #fff;
}
.reg-facebook-button {
  background-color: #3b5998;
}
.reg-twitter-button {
  background-color: #4099ff;
}
.reg-login-button {
  background-color: #e0be03;
}
.reg-login-link {
  display: inline-block;
  padding: 5px 10px;
  color: #e0be03;
}
.reg-login-link:hover {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -2px 2px 7px #fff inset;
  box-shadow: -2px 2px 7px #fff inset;
  color: #000;
  background-color: #e0be03;
}
