@import 'nib'
@import '../style/styl/variables' 

.reg-wrapper 
	display inline-block
	margin-left 20px
	padding 15px
	border 2px solid main-color
	border-radius 10px
	color white
	background-color black

.reg-title 
	margin 25px 
	font bold 18pt Arial

.reg-form
	>span
		display block
		margin 20px 0 0 
	label 
		display flex
		justify-content space-between
		margin 20px 0
		cursor pointer
	input 
		height 25px
		border-radius 5px
		line-height 25px
		background-image linear-gradient(180deg, white 0%, lighten(main-color, 70%) 100%)
		margin-left 15px
		&:focus 
			background-image none

.reg-label-wrapper
	display inline-block

.reg-facebook-button
.reg-twitter-button
	margin 0 10px 10px 0
	color white

.reg-facebook-button
	background-color #3B5998

.reg-twitter-button
	background-color #4099FF

.reg-login-button 
	background-color main-color

.reg-login-link
	display inline-block
	padding 5px 10px
	color main-color;
	&:hover 
		border-radius 10px
		box-shadow -2px 2px 7px white inset
		color black
		background-color main-color

