/* Shaun Inman's Global Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,  
form, fieldset, input, p, blockquote, table, th, td, embed, object { 
    padding: 0; 
    margin: 0;  
  } 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
  } 
fieldset, img, abbr { 
    border: 0; 
} 
address, caption, cite, code, dfn, em,  
h1, h2, h3, h4, h5, h6, strong, th, var { 
    font-weight: normal; 
    font-style: normal; 
} 
ul { 
    list-style: none; 
} 
caption, th { 
    text-align: left; 
} 
h1, h2, h3, h4, h5, h6 { 
    font-size: 1.0em; 
} 
q:before, q:after { 
    content: ''; 
} 
a, ins { 
    color: black;
    text-decoration: none; 
} 


button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  outline:none;
  vertical-align: baseline;
  vertical-align: middle;
}
button, input {
  line-height: normal;
  overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

