@import 'nib'
@import 'styl/*' 

body 
	font normal 10pt main-font
	
html
body
.wrapper
	height 100%

.container
	overflow auto
	
/*======= aside ===========*/
aside
	z-index 4
	height 100%
	color #fff
	font-weight bold
	background-color #000

.aside-content-wrapper
	display flex
	flex-direction column 
	justify-content space-between
	height 100%

.person-info
	position relative
	min-height 200px

.icon-exit
	absolute top 20px right 10px
	&:before
		font-size 22pt
		color main-color
		content '\ea14'

.aside-avatar
	position relative
	display block
	width 90px
	height 90px
	margin 28px auto 0
	border 2px solid main-color
	border-radius 50%
	background url(../icons/logo.svg) -2px -2px
	background-size 94px

.messages
	absolute top 2px right 2px
	width 38px
	height 24px
	margin 5px -13px 0 0
	border-radius 12px
	box-shadow  3px 3px 7px rgba(0,0,0, 0.7)
	color white
	line-height 24px
	font-size 11pt
	text-align center
	background-color #E03003
			
.log-in
	display block
	margin 9px auto 40px
	width 108px
	height 30px
	border-radius 15px
	color #000
	font-size 1.2em
	line-height 30px
	text-align center
	background-color main-color

.person-name 
	margin 19px 0 9px
	font-size 14pt
	text-align center
	a
		color main-color

.icon-redact
	position relative
	&:after
		absolute right -30px top -2px
		display inline-block
		margin-left 10px
		font-size 20pt
		content '\e605'

.rating
	display block
	width 44px
	height 22px
	margin 0 auto 19px
	padding-right 8px
	box-sizing border-box
	border 1px solid main-color
	border-radius 20px
	font-size 9pt

.menu
	flex-shrink 1
	padding 0
	font-size 11pt
	overflow auto
	a
		display block
		padding 3px
		color #fff
		&:hover
			color #000
			background-color main-color
			
.menu-item
	display block
	max-width 265px
	margin 0 auto

.posts-amount
	float right

.icons-wrapper
	flex 0 10000 200px
	min-height 30px
	align-self center
	position relative
	width 150px

.icons
	absolute bottom
	display flex
	width inherit
	justify-content space-between
	li
		display inline
		font-size 12pt
	.twitter
		background url(../public/icons/icon-twitter.svg) 6px 0px 
	.facebook
		background url(../public/icons/icon-fb.svg) 11px 0px 
	.youtube
		background  url(../public/icons/icon-youtube.svg) 9px 0px 
		
	.twitter
	.facebook
	.youtube
		display inline-block
		height 20px
		width 35px
		box-sizing border-box
		background-size contain
		background-repeat no-repeat

/*========== header ==========*/
header
	fixed top right
	z-index 2
	display flex
	height 60px
	border-bottom 1px solid #eee
	box-sizing border-box
	background-color rgba(white, 0.5)

.filters 
	margin auto 
	padding 0 
	font-size 0
	li
		display inline-block
		
.filter-link
	display block
	padding 6px 20px
	border-radius 20px
	color main-color
	font bold 11pt main-font 
	&:hover
		color white
		background-color main-color
		transition all 0.4s

.select-filter
	display none

.icon-search
	fixed top 19px right 25px
	z-index 3
	cursor pointer
	&:hover
		text-shadow 0 0 5px rgba(orange, 0.5)
	&:before 
		color main-color
		font-size 18pt
		content "\e603"

.search-input
	fixed top 14px right 60px
	visibility hidden
	width 0
	height 30px
	border-radius 15px
	border 1px solid main-color
	font-size 12pt
	line-height 20px
	box-sizing border-box

.search-checkbox:checked ~ .icon-search:before
	content '\ea0d'

.search-checkbox:checked ~ .search-input
	visibility visible
	width 200px
	height 30px
	padding 0 10px
	transition   0.5s width

.search-checkbox:checked ~ .filters
	display none

.search-checkbox:checked ~ .select-filter
	display none
	
/*========== content ==========*/	
.content
	margin-top 59px
			
.post
	position relative
	border-top 1px solid #eee
	overflow-x auto
	overflow-y hidden
	&:first-child
		background-color #FDFCF2
		&:after
			absolute top right bottom 
			width 10px
			background-color main-color
			content ''

.post > div
	max-width 650px
	margin 0 auto

.title
	margin 22px 0 16px
	font bold 20pt main-font

.domain
	position relative
	color main-color
	font-size 0.7em

.domain span
	font-weight bold
	text-decoration underline

.post-type-list li
	display inline-block

.post-type-list a
	display inline-block
	margin 0 9px 5px 0
	padding 4px 12px 3px
	border 1px solid main-color
	border-radius 15px
	color main-color
	font bold 7pt main-font
	text-transform uppercase

.post-info
	display flex
	align-items center
	justify-content space-between
	margin 16px 0 0
	font bold 9pt main-font

.post-author
	padding-left 2px
	line-height 28px
	&:hover
		text-decoration underline
	
.post-author-avatar
	relative top 3px
	display inline-block
	width 20px
	height 20px
	border-radius 50%
	background url(../public/img/image.jpg) no-repeat 
	background-size contain
	content ''
	
.bomb
	color main-color
	text-align center
	&:before
		relative top 1px left 6px
		display inline-block
		height 15px
		padding-left 18px
		background url(../public/img/bomb.png) no-repeat
		background-size contain
		content ''
		
.post-date
	color #979797
	&:before
		content '\b7'

.comments, .like
	color main-color
	font bold 1.8em main-font

.like 
	margin-right 24px

.icon-comment:before
	font-weight normal
	content: "\e600"
	margin-right 4px

.icon-external-link:after
	absolute bottom -5px right -27px
	font-size 1.3em
	content "\e601"

.icon-like:before 
	relative top 2px
	margin-right 4px
	font-weight normal
	content "\e602"

.hidden
	display none
	
/*============ media queries ============*/
@media screen and (max-width: 540px)
	.comments
	.like
		top 30px
	
	.post-info
		flex-direction column 

	.filters
		display none

	.select-filter
		display block
		z-index 3
		margin 15px auto 
		width 140px
		height 30px
		border-radius 3px
		font bold 11pt main-font
		text-align center
		background-color main-color
		box-shadow -2px 2px 6px white inset
		cursor pointer
	
@media screen and (max-width: 850px)
	.post 
		padding 5px 35px 20px 15px
		
	header
		left 0
		background-color black

	.container
		height 100%

	.icon-burger-menu
		position fixed
		z-index 3
		font-size 26pt
		&:before
			display inline-block
			height 22px
			width 22px
			margin 13px 15px 10px
			color main-color
			content '\e604'
			cursor pointer
			
	aside
		absolute top left -300px
		z-index 4
		overflow hidden
		width 300px
		height 0
		transition transform 0.3s ease-in, 0.3s height 0.3s
		
	.burger-checkbox:checked ~ aside
		height 100%
		box-shadow 3px 1px 30px rgba(black, 0.6)
		transform translateX(300px)
		transition transform 0.3s ease-out
		
	.burger-checkbox:checked ~ .icon-burger-menu:before
		absolute left -300px
		font-size 22pt
		content '\ea0d'
					
	.burger-checkbox:checked ~ .overlay
		fixed top left 300px right bottom
		z-index 5
		background-color rgba(grey, 0.3)
		transition 0.6s z-index 0.1s, 0.3s background 0.3s 

@media screen and (min-width: 851px)
	.wrapper
		display flex
		align-items stretch
	
	header
		left 300px

	.container
		flex 1 2 75%

	aside
		flex 1 1 25%
		min-width 300px
		
	.post
		padding 0 4% 30px
		
@media screen and (min-width: 1200px)
	header
		left 25% 
		
