@font-face {
  font-family: 'icomoon';
  src: url("../fonts/fonts/icomoon.eot?mioov");
  src: url("../fonts/fonts/icomoon.eot?#iefixmioov") format('embedded-opentype'), url("../fonts/fonts/icomoon.woff?mioov") format('woff'), url("../fonts/fonts/icomoon.ttf?mioov") format('truetype'), url("../fonts/fonts/icomoon.svg?mioov#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="icon-"]:before,
[class*="icon-"]:after {
  font-family: 'icomoon';
}
body {
  font: normal 10pt Arial;
}
html,
body,
.wrapper {
  height: 100%;
}
.container {
  overflow: auto;
}
/*======= aside ===========*/
aside {
  z-index: 4;
  height: 100%;
  color: #fff;
  font-weight: bold;
  background-color: #000;
}
.aside-content-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100%;
}
.person-info {
  position: relative;
  min-height: 200px;
}
.icon-exit {
  position: absolute;
  top: 20px;
  right: 10px;
}
.icon-exit:before {
  font-size: 22pt;
  color: #e0be03;
  content: '\ea14';
}
.aside-avatar {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  margin: 28px auto 0;
  border: 2px solid #e0be03;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url("../icons/logo.svg") -2px -2px;
  -webkit-background-size: 94px;
  -moz-background-size: 94px;
  background-size: 94px;
}
.messages {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 38px;
  height: 24px;
  margin: 5px -13px 0 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.7);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.7);
  color: #fff;
  line-height: 24px;
  font-size: 11pt;
  text-align: center;
  background-color: #e03003;
}
.log-in {
  display: block;
  margin: 9px auto 40px;
  width: 108px;
  height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #000;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
  background-color: #e0be03;
}
.person-name {
  margin: 19px 0 9px;
  font-size: 14pt;
  text-align: center;
}
.person-name a {
  color: #e0be03;
}
.icon-redact {
  position: relative;
}
.icon-redact:after {
  position: absolute;
  right: -30px;
  top: -2px;
  display: inline-block;
  margin-left: 10px;
  font-size: 20pt;
  content: '\e605';
}
.rating {
  display: block;
  width: 44px;
  height: 22px;
  margin: 0 auto 19px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e0be03;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 9pt;
}
.menu {
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  padding: 0;
  font-size: 11pt;
  overflow: auto;
}
.menu a {
  display: block;
  padding: 3px;
  color: #fff;
}
.menu a:hover {
  color: #000;
  background-color: #e0be03;
}
.menu-item {
  display: block;
  max-width: 265px;
  margin: 0 auto;
}
.posts-amount {
  float: right;
}
.icons-wrapper {
  -webkit-box-flex: 10000;
  -moz-box-flex: 10000;
  -o-box-flex: 10000;
  box-flex: 10000;
  -webkit-flex: 0 10000 200px;
  -ms-flex: 0 10000 200px;
  flex: 0 10000 200px;
  min-height: 30px;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  position: relative;
  width: 150px;
}
.icons {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: inherit;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.icons li {
  display: inline;
  font-size: 12pt;
}
.icons .twitter {
  background: url("../public/icons/icon-twitter.svg") 6px 0px;
}
.icons .facebook {
  background: url("../public/icons/icon-fb.svg") 11px 0px;
}
.icons .youtube {
  background: url("../public/icons/icon-youtube.svg") 9px 0px;
}
.icons .twitter,
.icons .facebook,
.icons .youtube {
  display: inline-block;
  height: 20px;
  width: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
/*========== header ==========*/
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 60px;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.5);
}
.filters {
  margin: auto;
  padding: 0;
  font-size: 0;
}
.filters li {
  display: inline-block;
}
.filter-link {
  display: block;
  padding: 6px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #e0be03;
  font: bold 11pt Arial;
}
.filter-link:hover {
  color: #fff;
  background-color: #e0be03;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.select-filter {
  display: none;
}
.icon-search {
  position: fixed;
  top: 19px;
  right: 25px;
  z-index: 3;
  cursor: pointer;
}
.icon-search:hover {
  text-shadow: 0 0 5px rgba(255,165,0,0.5);
}
.icon-search:before {
  color: #e0be03;
  font-size: 18pt;
  content: "\e603";
}
.search-input {
  position: fixed;
  top: 14px;
  right: 60px;
  visibility: hidden;
  width: 0;
  height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #e0be03;
  font-size: 12pt;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search-checkbox:checked ~ .icon-search:before {
  content: '\ea0d';
}
.search-checkbox:checked ~ .search-input {
  visibility: visible;
  width: 200px;
  height: 30px;
  padding: 0 10px;
  -webkit-transition: 0.5s width;
  -moz-transition: 0.5s width;
  -o-transition: 0.5s width;
  -ms-transition: 0.5s width;
  transition: 0.5s width;
}
.search-checkbox:checked ~ .filters {
  display: none;
}
.search-checkbox:checked ~ .select-filter {
  display: none;
}
/*========== content ==========*/
.content {
  margin-top: 59px;
}
.post {
  position: relative;
  border-top: 1px solid #eee;
  overflow-x: auto;
  overflow-y: hidden;
}
.post:first-child {
  background-color: #fdfcf2;
}
.post:first-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background-color: #e0be03;
  content: '';
}
.post > div {
  max-width: 650px;
  margin: 0 auto;
}
.title {
  margin: 22px 0 16px;
  font: bold 20pt Arial;
}
.domain {
  position: relative;
  color: #e0be03;
  font-size: 0.7em;
}
.domain span {
  font-weight: bold;
  text-decoration: underline;
}
.post-type-list li {
  display: inline-block;
}
.post-type-list a {
  display: inline-block;
  margin: 0 9px 5px 0;
  padding: 4px 12px 3px;
  border: 1px solid #e0be03;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #e0be03;
  font: bold 7pt Arial;
  text-transform: uppercase;
}
.post-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 16px 0 0;
  font: bold 9pt Arial;
}
.post-author {
  padding-left: 2px;
  line-height: 28px;
}
.post-author:hover {
  text-decoration: underline;
}
.post-author-avatar {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url("../public/img/image.jpg") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  content: '';
}
.bomb {
  color: #e0be03;
  text-align: center;
}
.bomb:before {
  position: relative;
  top: 1px;
  left: 6px;
  display: inline-block;
  height: 15px;
  padding-left: 18px;
  background: url("../public/img/bomb.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  content: '';
}
.post-date {
  color: #979797;
}
.post-date:before {
  content: '\b7';
}
.comments,
.like {
  color: #e0be03;
  font: bold 1.8em Arial;
}
.like {
  margin-right: 24px;
}
.icon-comment:before {
  font-weight: normal;
  content: "\e600";
  margin-right: 4px;
}
.icon-external-link:after {
  position: absolute;
  bottom: -5px;
  right: -27px;
  font-size: 1.3em;
  content: "\e601";
}
.icon-like:before {
  position: relative;
  top: 2px;
  margin-right: 4px;
  font-weight: normal;
  content: "\e602";
}
.hidden {
  display: none;
}
/*============ media queries ============*/
@media screen and (max-width: 540px) {
  .comments,
  .like {
    top: 30px;
  }
  .post-info {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filters {
    display: none;
  }
  .select-filter {
    display: block;
    z-index: 3;
    margin: 15px auto;
    width: 140px;
    height: 30px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: bold 11pt Arial;
    text-align: center;
    background-color: #e0be03;
    -webkit-box-shadow: -2px 2px 6px #fff inset;
    box-shadow: -2px 2px 6px #fff inset;
    cursor: pointer;
  }
}
@media screen and (max-width: 850px) {
  .post {
    padding: 5px 35px 20px 15px;
  }
  header {
    left: 0;
    background-color: #000;
  }
  .container {
    height: 100%;
  }
  .icon-burger-menu {
    position: fixed;
    z-index: 3;
    font-size: 26pt;
  }
  .icon-burger-menu:before {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 13px 15px 10px;
    color: #e0be03;
    content: '\e604';
    cursor: pointer;
  }
  aside {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 4;
    overflow: hidden;
    width: 300px;
    height: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in, 0.3s height 0.3s;
    -moz-transition: -moz-transform 0.3s ease-in, 0.3s height 0.3s;
    -o-transition: -o-transform 0.3s ease-in, 0.3s height 0.3s;
    -ms-transition: -ms-transform 0.3s ease-in, 0.3s height 0.3s;
    transition: transform 0.3s ease-in, 0.3s height 0.3s;
  }
  .burger-checkbox:checked ~ aside {
    height: 100%;
    -webkit-box-shadow: 3px 1px 30px rgba(0,0,0,0.6);
    box-shadow: 3px 1px 30px rgba(0,0,0,0.6);
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .burger-checkbox:checked ~ .icon-burger-menu:before {
    position: absolute;
    left: -300px;
    font-size: 22pt;
    content: '\ea0d';
  }
  .burger-checkbox:checked ~ .overlay {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(128,128,128,0.3);
    -webkit-transition: 0.6s z-index 0.1s, 0.3s background 0.3s;
    -moz-transition: 0.6s z-index 0.1s, 0.3s background 0.3s;
    -o-transition: 0.6s z-index 0.1s, 0.3s background 0.3s;
    -ms-transition: 0.6s z-index 0.1s, 0.3s background 0.3s;
    transition: 0.6s z-index 0.1s, 0.3s background 0.3s;
  }
}
@media screen and (min-width: 851px) {
  .wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  header {
    left: 300px;
  }
  .container {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -o-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 1 2 75%;
    -ms-flex: 1 2 75%;
    flex: 1 2 75%;
  }
  aside {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    min-width: 300px;
  }
  .post {
    padding: 0 4% 30px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    left: 25%;
  }
}
