@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-73pl6k');
	src:url('fonts/icomoon.eot?#iefix-73pl6k') format('embedded-opentype'),
		url('fonts/icomoon.woff?-73pl6k') format('woff'),
		url('fonts/icomoon.ttf?-73pl6k') format('truetype'),
		url('fonts/icomoon.svg?-73pl6k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-comment-o:before {
	content: "\e600";
}

.icon-external-link:before {
	content: "\e601";
}

.icon-heart-o:before {
	content: "\e602";
}

.icon-search:before {
	content: "\e603";
}

