@font-face 
	font-family 'icomoon'
	src url("../fonts/fonts/icomoon.eot?mioov")
	src url("../fonts/fonts/icomoon.eot?#iefixmioov") format('embedded-opentype'), url("../fonts/fonts/icomoon.woff?mioov") format('woff'), url("../fonts/fonts/icomoon.ttf?mioov") format('truetype'), url("../fonts/fonts/icomoon.svg?mioov#icomoon") format('svg')
	font-weight normal
	font-style normal

[class^="icon-"]
[class*=" icon-"]
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
    
[class*="icon-"]:before
[class*="icon-"]:after
	font-family: 'icomoon'